body {
    background-image: url(../images/map1.jpeg);
    width: 100%;
    height: 100%;
    background-position: center;
    /* box-shadow: inset 0 0 0 500px rgba(57, 107, 172,.3); */
    /* position: absolute; */
    /* background-repeat: no-repeat; */
    /* background-size: cover; */
  }
  
  h1 {
    font-size: 4em;
    text-shadow: 2px 2px 10px black;
  }
  
  #landing-header {
    z-index: 1;
    position: relative;
    text-align: center;
    padding-top: 40vh;
  }
  
  #landing-header h1, p, span {
    color: #fff;
  }

  p {
      font-size: 1.2em;
      text-shadow: 2px 2px 10px black;
  }
  
  .slideshow { 
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 0;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .slideshow li { 
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    opacity: 0;
    z-index: 0;
    animation: imageAnimation 25s linear infinite;
    box-shadow: inset 0 0 0 500px rgba(57, 107, 172,.5);
  }
  
  .slideshow li:nth-child(1) { 
    background-image: url(../images/map2.jpeg);
  }
  .slideshow li:nth-child(2) { 
    background-image: url(../images/landmark3.jpeg);
    animation-delay: 5s; 
  }
  .slideshow li:nth-child(3) { 
    background-image: url(../images/landmark4.jpeg);
    animation-delay: 10s; 
  }
  .slideshow li:nth-child(4) { 
    background-image: url(../images/map4.jpg);
    animation-delay: 15s; 
  }
  .slideshow li:nth-child(5) { 
    background-image: url(../images/landmark3.jpeg);
    animation-delay: 20s; 
  }
  
  @keyframes imageAnimation { 
    0% { 
      opacity: 0; 
      animation-timing-function: ease-in;
    }
    10% {
      opacity: 1;
      animation-timing-function: ease-out;
    }
    20% {
      opacity: 1;
    }
    30% {
      opacity: 0;
    }
  }
  
  /* Older browser support - .no-cssanimations class added by modernizr */
  .no-cssanimations .slideshow li {
      opacity: 1;
  }